<h2>Change Information</h2>

<form action="/mountains/<%=@mountain["id"]%>" method="post">
<p>
    <label for="">Species/Name:</label>
    <input type="text" name="location" value="<%= @mountain["location"] %>">
  </p>
  <p>
    <label for="">Image URL:</label>
    <input type="text" name="image" value="<%= @mountain["image"] %>">
  </p>
  <p>
    <label for="">Description:</label>
    <input type="text" name="description" value="<%= @mountain["description"] %>">
        
  </p>
  
  <input type="submit" value="Update">

</form>