<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mountains</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    	<div id="content">
	        <h1>Mountains database</h1>
	        <hr>
	        <%= yield %>
       </div> 
    </body>
</html>
