<h3>Make a new Entry</h3>

<form action="/mountains/new" method="post" ">
<p>
    <label id="location" for="">Location:</label>
    <input type="text" name="location" value="" ">
  </p>
  <p>
    <label for="">Image URL:</label>
    <input type="text" name="image" value="">
  </p>
  <p>
    <label for="">Description:</label>
    <input type="text" name="description" value="">
  </p>
  
  <input id="btn-add" type="submit" value="Add">

</form>
