<h1>Secret Number</h1>

<img
 src="https://truththeory.com/wp-content/uploads/2016/11/pay-530338_1920-900x636.jpg" id="secretNumberPic">

<!-- <p>Guess a number from 1 to 10.</p> -->
<p>The number you guessed (<%= @chosen_number %>) is <%= @result %> Secret number was <%= @secret_number %>.</p>


<!-- <form action="/games/secret" method="">
<input type="text" placeholder="Guess a number." id="params[:id]">

<button type="button" name="secretNumberButton">Submit</button> -->
