<p>what movie are you looking for?</p>
<form action="/show_movie">
  <!-- action = when form is submitted, where does it go? ie which file catches the data -->
  <input type="text" name = "movie_name" placeholder="Your name here">
<button>Submit!</button>
</form>

<!--
need a route to (1) show form
and [erb :ask_name in app.rb](2) a separate route to display the form on the page -->
