<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href = "/style.css">
 <title>Movie search engine</title>
</head>
<body>
  <nav>
    <a href="/"></a>
  </nav>
<h1><marquee> Movie search engine</marquee></h1>

<%= yield %>
<!-- #break out of HTML and into ruby need '=' to indicate you want the ouput on the page. -->
<p>footer</p>
</body>
</html>
