Results
<!-- The movie you are searching for is <%=params["movie_name"]%> -->


<% @names.each do |name|%>

<p>NAME: <%= name %></p>

<% end %>

<!-- //give url to img so img appears
// wrap images in a tags so images will be links -->
<!--<a href - "/movies_details/<%# = movie.id %>"> + link name which will be the image ie you click on image to link through  -->
