<h1>Welcome to Games on Rails</h1>


  <a class="menu" href="/games/magic">Magic 8 Ball</a> <br/>

  <a class="menu" href="/games/secret">Secret Number</a> <br/>

  <a class="menu" href="/games/rock_paper_scissors">Rock-Paper-Scissors</a>
