<h2>New Book</h2>
<form action="/books" method="post">
  <p>
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="bookName">
  </p>
  <p>
    <label for="">Author:</label>
    <input type="text" name="author" placeholder="bookAuthor">
  </p>
  <p>
    <label for="">Title:</label>
    <input type="text" name="title" placeholder="booktitle">
  </p>
  <p>
    <label for="">Price:</label>
    <input type="text" name="price" placeholder="bookprice">
  </p>
  <input type="submit" name="" value="Create Book">
</form>
