<p>What's your movie?</p>
<form action="/show_movie_results">
  <input type="text" name="movie_name" placeholder="Your movie name here">
  <!-- click onplacwholder the image will disappear -->
  <button>Submit!</button>
</form>
