<h1>Create a New Director</h1>

<div>
  <form action="/directors" method="post">

    <fieldset>
      <label for="name">Name:</label>
      <input type="text" name="name">
    </fieldset>

    <fieldset>
      <label for="dob">DOB:</label>
      <input type="date" name="dob">
    </fieldset>

    <fieldset>
      <label for="nationality">Nationality:</label>
      <input type="text" name="nationality">
    </fieldset>

    <fieldset>
      <label for="image">Image URL:</label>
      <input type="text" name="image">
    </fieldset>

    <input type="submit">
  </form>
</div>
