
<div class="layout">
    <h1 class="title">Secret Number</h1>

    <% 10.times do |i| %>
    <button class="secretbutton"><%= i + 1 %></button>
    <% end %>


    <% if params["guess"] && params["guess"].to_i == @secret_number %>
        <p>You guessed correct! <%= params["guess"].to_i %> is my secret number!</p>
    <% elsif params["guess"] && params["guess"].to_i != @secret_number%>
        <p>Incorrect! <%= params["guess"].to_i %> is not my secret number</p>
    <% end %>

</div>

<script>

        $('button').on('click', function(){
            // debugger;
            var guessedNum  = $(this).text();
            // debugger
            // debugger
            window.location.href = "/games/secret/" + guessedNum
        });
</script>
