<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movies I</title>
</head>
<body>

<h1>The Movie Database</h1>

<%= yield %>

</body>
</html>
