<h1>Ask Me Anything!</h1>

<div>
  <form method="get" action="/games/magic/play">
    <fieldset>
      <label for="question">Question:</label>
      <input type="text" name="question" id="question">
    </fieldset>
    <input type="submit">
  </form>
</div>

<a href="/">Back to Home</a>
