<h1>Rock Paper Scissors</h1>

<img src="http://www.ponderweasel.com/wp-content/uploads/2014/11/who-invented-rock-paper-scissors.png" id="rpsPic">

<p>Pick rock, papers or scissors only.</p>

<form action="/games/rock_paper_scissors" method="">

</form>
<input type="text" placeholder="Rock, Paper or Scissors" id="rps">
<button type="button" name="rpsButton">Submit</button>
