body {
  margiin: 0 auto;
}

.menuContainer {
  height: 100px;
  width: 100%;
  position: absolute;
  display: block;
  background-color: black;
  top: 0px;
  left: 0px;
}

.menuText {
  color: grey;
}
