<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mountains Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Beautiful Mountains</h1>
  <img src="http://www.andiamoadventures.com/Images/Matterhorn.jpg" id="intro">
<hr>
<%= yield %>
</hr>
<h3>Enjoy the mountains!</h3>
</body>
</html>
