<h2>New Mountain</h2>
<form action="/mountains" method="post">
  <p>
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="name">
  </p>
  <p>
    <label for="">Image URL:</label>
    <input type="text" name="image" placeholder="Image URL">
  </p>
  <p>
    <label for="">Location:</label>
    <input type="text" name="location" placeholder="location">
  </p>
  <p>
    <label for="">Elevation:</label>
    <input type="text" name="elevation" placeholder="elevation in meters">
  </p>
  <input type="submit" name="" value="Create Mountain">
</form>
