
<h2>Mountains Details</h2>

<p>Name: <%= @mountain["name"] %></p>

<img src="<%= @mountain["image"] %>">

<p>Location: <%= @mountain["location"] %></p>

<p>Elevation: <%= @mountain["elevation"] %></p>
