<h1>Magic 8</h1>

<img src="http://www.magicmgmt.com/gary/magic8ball/MAGIC8BALL.gif" id="magic8pic">

<p>Ask a question answerable by a yes or no.</p>

<!-- <form action="/games/magic" method="">
<input type="text" placeholder="Enter you question here" id="magic8">
<button type="button" name="magic8Button">Submit</button> -->

<h1><%= @answer %></h1>
