<h2>New Director</h2>

<form action="/directors" method="post">
  Name:
  <input type="text" name="name">
  <br>
  Age:
  <input type="text" name="age">
  <br>
  Period:
  <input type="text" name="period">
  <br>
  Image URL:
  <input type="text" name="image">
  <br>
  <button>Create Director</button>

</form>
