<!DOCTYPE html>
<html>
  <head>
    <title>Homework</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  </head>

  <body>
    <%= yield %>


<!--
<script src="assets/jquery.js" charset="utf-8"></script>
<script src="assets/jquery_ui.js"></script>
<script src="assets/script.js" charset="utf-8"></script>  -->



<script src="assets/script.js" charset="utf-8"></script>

  </body>
</html>
