

<h1>The Computer throws <%= @computer.capitalize %>. <br/> <%= @message %>!</h1>

<div class="rpsresult">
  <h1>You</h1>
  <img src="http://picoplex.net/games/rpslp/<%= @user %>.png">

</div>

<div class="rpsresult">
  <h1>The Computer</h1>
  <img src="http://picoplex.net/games/rpslp/<%= @computer %>.png">
</div>

<a href="/">Back to Home</a>
