<h1>You Throw?</h1>

<!-- <div> -->
  <!-- <form method="get" action="/games/secret/play"> -->
    <fieldset>
      <!-- <label for="guess">Guess:</label> -->
      <a class="rps" href="/games/rock_paper_scissors/rock"><img src="http://picoplex.net/games/rpslp/rock.png" alt=""></a>
      <a class="rps" href="/games/rock_paper_scissors/paper"><img src="http://picoplex.net/games/rpslp/paper.png" alt=""></a>
      <a class="rps" href="/games/rock_paper_scissors/scissors"><img src="http://picoplex.net/games/rpslp/scissors.png" alt=""></a>
      <!-- <input type="text" name="select" id="question"> -->
    </fieldset>
    <!-- <input type="submit"> -->
  <!-- </form> -->
<!-- </div> -->

<a href="/">Back to Home</a>
