<h2>New Artist</h2>

<form action="/directors/" method="post">

  Name:
  <input type="text" name="name">
  <br>

  Date of Birth:
  <input type="text" name="dob">
  <br>

  Nationality:
  <input type="text" name="nationality">
  <br>

  Period:
  <input type="text" name="period">
  <br>

  Image URL:
  <input type="text" name="image">
  <br>

  <button>Create Artist</button>

</form>
