<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tramping Kiwis</title>
</head>
<body>
<h1 id="logo" class="layout">The Tramping Kiwis</h1>

<div class="layout">
<%= yield %>
</div>

<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
