<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tramping Kiwis</title>
</head>
<body>
<h1>The Tramping Kiwis</h1>

<%= yield %>


<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
