<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Killa Synths</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Analogue Synthesizer Database</h1>
<hr>

<%= yield %>

<hr>
<h5>Synth Collective 2017</h5>
</body>
</html>
