<h2>Add a Synth</h2>

<form action="/synths" method="post">
  <p>
  <label for="">Name:</label>
  <input type="text" name="name" placeholder="name">
  </p>

  <p>
  <label for="">Image:</label>
  <input type="text" name="image" placeholder="image">
  </p>

  <p>
  <label for="">Brand:</label>
  <input type="text" name="brand" placeholder="brand">
  </p>

  <p>
  <label for=""> Year:</label>
  <input type="text" name="year" placeholder="year">
  </p>

  <p>
  <input type="submit" name="" value="Add synth">
  </p>
</form>
