<p>Secert Numbers Game</p>
<a href="/games/secret/1">my first guess</a>|
<a href="/games/secret/2">my second guess</a>|
<a href="/games/secret/3">my third guess</a>|
<a href="/games/secret/4">my fourth guess</a>|
<a href="/games/secret/5">my fifth guess</a>|
<a href="/games/secret/6">my sixth guess</a>|
<a href="/games/secret/7">my seventh guess</a>|
<a href="/games/secret/8">my eighth guess</a>|
<a href="/games/secret/9">my ninth guess</a>|
<a href="/games/secret/10">my tenth guess</a>|


<p>computer number <%= @number %></p>
<p>User guess <%= params["guess"] %></p>


<% if @number == params["guess"].to_i %>
<h2>Your number wins</h2>
<!--or redirect tohtml page  -->
<% else %>
<h2>You lose </h2>

<% end %>
