
<div class="layout">
<h2 class="title">New Brewery Profile Entry</h2>

<form action="/breweries/new" method="post">

    Name:
    <input type="text" name="name">
    <br>
    Location:
    <input type="text" name="location">
    <br>
    Image URL:
    <input type="text" name="image">
    <br>
    Website:
    <input type="text" name="website">
    <br>
    Philosophy:
    <input type="text" name="philosophy">
    <br>

    <button>Submit New Brewery Profile</button>

</form>
</div>
