@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Josefin+Sans|Noto+Serif');

.topnav {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 990px;
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    display: inline-block;
    position:relative;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Josefin Sans";
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #1be4cc;
    color: #f2f2f2;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1be4cc;
    color: red;
}

body{
text-align: center;
  background-color: #d6d6d6;
  color: #000000;
  background-image: url(http://jennmoney.biz/assets/eo.png);
  background-repeat:space;
  /*background-attachment:scroll;*/
  background-position: top;
  font-family: "Noto Serif";
}

image {
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em; */
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}

h1 {
  font-family: "Bungee Shade";
  font-weight: bold;
  animation: blinker 5s linear infinite;
}

h3 {
  text-align: left;
  left: 10px;
  font-family: "Bungee Shade";
  font-weight: bold;
}

.who {
animation: blinker 2s linear infinite;
}

@keyframes blinker {
  20% { opacity: 0.5; }
}
.container {
  position: relative;
  display: inline-block;
  top:450px;
  width: 990px;
  height:inherit;

}

.content{
  background-color: rgba(255, 161, 62, 0.6);
  position: relative;
  display: inline-block;
  text-align: justify;
  margin: 0px;
  width: 63%;
  height:inherit;
  float: left;
  padding: 20px;
  border-radius: 5em 4em 8em 14em / 2em 20em 8em 10em; */
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    animation: pulse 2s linear infinite;

}

.side{
  color: rgb(92, 97, 130);
  border: solid;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0px;
  width: 31%;
  height: 190px;
  float: right;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em; */
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}
.listen{
  /*width: 190px;
  height:20px;*/
}

a {
  color:#29c5c9;
}

p {
  color: rgba(32, 32, 32);
}
#video{
  display: inline-block;
  text-align: center;
  margin: inherit;
  width: inherit%;
  float: center;
}

#jelfie{
  height: 160px;
  border-radius: 2em 1em 2em 1em/ 1em 4em 1em 4em; */
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;

}

/* The animation code */
@keyframes example {
    0%   {background-color:rgba(143, 16, 187, 0.42); left:0px; top:0px;}
    25%  {background-color:rgb(255, 168, 0); left:50px; top:0px;}
    50%  {background-color:rgba(47, 194, 11, 0.52); left:20px; top:20px;}
    75%  {background-color:rgba(75, 65, 139, 0.4); left:0px; top:-10px;}
    100% {background-color:rgba(143, 16, 187, 0.42); left:0px; top:0px;}
}

/* The element to apply the animation to */
.test {
    display: inline-block;
    position: relative;
    background-color: rgba(143, 16, 187, 0.42);
    animation-name: example;
    animation-duration: 4s;
    padding: 0px 5px;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
