<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Online</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/"></a>
  </nav>

  <h1>Pick a movie</h1>

  <%= yield %>

</body>
</html>
