
<p>Choose a Movie<p>

<form action="/show_name">
  <input type="text" name="keyword" placeholder="Enter movie here">
  <button>Submit!<button>
</form>

<!-- <a href="/movie_details/<%=movie["id"]%>"> -->
