




<!-- <form class="" action="/" method="get">
  <input type="text" id="searchFlickr" placeholder="Search..." name="" value="">
  <input type="submit" name="" value="Search Flickr">
</form> -->



<div class="container">
  <!-- Main container -->

  <h3>Flickr Image Finder</h3>


  <!-- search bar -->

  <form>
    <input id="searchFlickr" class="input" type="text" placeholder="Search...">
    <button class="waves-effect waves-light btn">
      Search Flickr
    </button>


  </form>


  <div class="divider" style="margin: 20px auto"></div>

  <!-- images display -->

  <div class="row"></div>


  <!-- backToTop button -->

  <a id="top" class="btn-floating btn-large waves-effect waves-light purple"><i class="material-icons">vertical_align_top</i></a>

  <!-- pagination -->

  <div style="display:none" id="pagination">
    <button id="previous" class="waves-effect waves-light btn">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <span id="current-page"></span>
    <button id="next" class="waves-effect waves-light small btn">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
  </div>


  <!-- preloader -->

  <footer>
    <div style="display:none" class="progress">
        <div class="indeterminate"></div>
    </div>
  </footer>


</div>
