<h2>New Video Game</h2>

<form class="" action="/video_games" method="post">
  <p>
    <label for="">Name</label>
    <input type="text" name="name" placeholder="name">
  </p>
  <p>
    <label for="">Poster URL:</label>
    <input type="text" name="poster" placeholder="poster url">
  </p>
  <p>
    <label for="">Platform:</label>
    <input type="text" name="platform" placeholder="Platform">
  </p>
  <p>
    <label for="">Developer:</label>
    <input type="text" name="developer" placeholder="Developer">
  </p>
  <p>
    <label for="">Release Year:</label>
    <input type="text" name="release" placeholder="release year">
  </p>
  <input type="submit" name="" value="Create Video Game">
</form>
