<h1 class="eightballheading"> Secret Number.</h1>
<p>You guessed the number <%= @guess %></p>
<p>The secret number is <%= @secretnumber %></p>
<%= @response %>

<form method='get' action="/secret">

  <!-- <input type="text" name="guess" placeholder="Number from 1-10"> -->
  <br>
  <button>Play again</button>
</form>
