<h1 class="eightballheading"> Secret Number.</h1>
<p>Guess a secret number from 1-10.</p>

<form method='get' action="/secret/playguess">
  <input class='white' type="text" name="guess" placeholder="Number from 1-10">
  <button>Submit!</button>
</form>
